<html>
  <head>
  </head>
  <body>
    <h1>
      Welcome <%= @user.user_name %>
    </h1>
    <p>
      Welcome to Instagram-Clone. Click here <%= @url %>
      <br>
      Congrats you are sign up as <%= @user.user_name %> in Instagram-Clone.
    </p>
  </body>
</html>
