
<%= form_for @comment do |form| %>
    <div class='form-group'>
      <label for='comment'>Your Comment</label>
      <%= form.text_area :content, class: 'form-control'%>
    </div>
    <%= form.submit class: 'btn btn-success'%>
  <% end %>
