<%= stylesheet_link_tag 'post', :media => 'all' %>
<div class='navigation'>
  <div class='logo'>
    <a class='no-underline' href='#'>
      logo here
    </a>
  </div>
  <div class='navigation-search-container'>
    <i class='fa fa-search'></i>
    <input class='search-field' type='text' placeholder='Search'>
    <div class='search-container'>
      <div class='search-container-box'>
        <div class='search-results'>

        </div>
      </div>
    </div>
  </div>
  <div class='navigation-icons'>
    <div class='navigation-link'>
      <%= link_to 'New Post', new_post_path %>
    </div>
    <div class='navigation-link' style='margin-left: 10px;'>
      <%= link_to 'Add Story', new_story_path %>
    </div>
    <a href='https://instagram.com/mimoudix' class='navigation-link'>
      <i class='far fa-user-circle'></i>
    </a>
    <a href='https://instagram.com/mimoudix' id='signout' class='navigation-link'>
      <i class='fas fa-sign-out-alt'></i>
    </a>
  </div>
</div>

