<div class="container top-margin">
  <h2>All Stories</h2>
  <% @stories.each do |story|%>
    <%= render 'shared/profile_picture', profile_picture: story.user.profile_picture %>
    <%= link_to story.user.user_name, user_path(story.user.id), class:'profile-path'%>
    <div id='carouselExampleSlidesOnly' class='carousel slide' data-bs-ride='carousel'>
      <div class='carousel-inner'>
        <% story.images.each_with_index do |image, i|%>
          <div class='carousel-item <%= 'active ' if i == 0 %> '>
            <%= image_tag image, class:'post-image' %>
          </div>
        <%end%>
      </div>
      <button class='carousel-control-prev' type='button' data-bs-target='#carouselExampleControls' data-bs-slide='prev'>
        <span class='carousel-control-prev-icon' aria-hidden='true'></span>
        <span class='visually-hidden'>Previous</span>
      </button>
      <button class='carousel-control-next' type='button' data-bs-target='#carouselExampleControls' data-bs-slide='next'>
        <span class='carousel-control-next-icon' aria-hidden='true'></span>
        <span class='visually-hidden'>Next</span>
      </button>
    </div>
  <%end%>
</div>
