<div class='container top-margin'>
  <p>
    <% if %>
    <%= @post.description %>
  </p>
  <div class='cards'>
    <% @post.images.each do |image|%>
      <div class='card'>
        <%= image_tag image %>
      </div>
    <%end%>
  </div>
</div>
