// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.profile-img{
  width: 50px;
  height: 50px;

  float: left;
}

.comments-list .comments-field{
  border-bottom: 1px dotted #ccc;
}

.comments {
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}
